Django
django-configurations-base
django-configurations-ec2
django-configurations-github-oauth
django-configurations-google-analytics
django-configurations-webpack
django-configurations-wsgi
django-dev-urls
django-github-oauth

django-celery-task-queue

django-context-extra-view
django-split-listview
gunicorn
requests