Django
dj-database-url
django-configurations
django-configurations-autoenv
django-configurations-base
django-configurations-ec2
django-configurations-installed-apps
django-configurations-wsgi
django-dev-urls
django-github-oauth

gunicorn
requests